
.desplega li a {
	background-color:#5A5A5A;
	color:#FFFFFFFF;
	text-decoration:none;
	display:block;
	padding:7px 7px;
}
.desplega li a:hover {
	background-color:#A0A0A0;
}
.desplega li ul {
	display:none;
	position:absolute;
	min-width:150px;
	margin:0px;
	padding:0px;
}
.desplega li:hover > ul {
	display:block;
}
ul, ol {
	list-style:none;
}
